# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2
jobs:
  android:
    docker:
      - image: circleci/android:api-28-alpha
      - image: circleci/node:10-browsers
        command: [npm install -g appium, node]
    steps:
      - checkout

      - run: sudo apt-get update

      - run:     appium

      - run:
          name: Install node
          command: |
              curl -sL https://deb.nodesource.com/setup_8.x | sudo -E bash -
              sudo apt-get install -y nodejs
              sudo apt-get install -y build-es sential
              sudo apt-get install build-essential curl git m4 python-setuptools ruby texinfo libbz2-dev libcurl4-openssl-dev libexpat-dev libncurses-dev zlib1g-dev

      - run: sudo npm install appium

      - run:
          name: List available images
          command: |
            sdkmanager --list --verbose | grep system-images

      - run:
          name: Setup emulator
          command: |
            sdkmanager "system-images;android-25;google_apis;armeabi-v7a" && echo "no" | avdmanager create avd -n test -k "system-images;android-25;google_apis;armeabi-v7a"
      - run:
          name: Launch emulator
          command: export LD_LIBRARY_PATH=${ANDROID_HOME}/emulator/lib64:${ANDROID_HOME}/emulator/lib64/qt/lib && emulator64-arm -avd test -noaudio -no-boot-anim -no-window -accel on
          background: true

      - run:
          name: Wait on emulator
          command: sleep 10

      - run:
          name: List running emulators
          command: adb devices -l
      - run:
          name: Set Ruby Version
          command:  echo "ruby-2.4.1" > ~/.ruby-version
      - run:
          name: Install Project Dependencies
          command: |
            bundle check --path=vendor/bundle || bundle install --retry=3 --path vendor

      - run:
          name: Install appium
          command: |
            npm install -g appium

      - run:
          name: Install allure
          command: |
            sudo apt-add-repository ppa:qameta/allure
            sudo apt-get update
            sudo apt-get install allure

  ios:

      # Specify the Xcode version to use
      macos:
        xcode: "9.3.0"

      shell: /bin/bash --login -eo pipefail

      steps:
        - checkout

        - run:
            name: Set Ruby Version
            command:  echo "ruby-2.4.1" > ~/.ruby-version

        - run:
            name: Install Project Dependencies
            command: |
              bundle check --path=vendor/bundle || bundle install --retry=3 --path vendor

        - run:
            name: Install appium
            command: |
              npm install -g appium

        - run:
            name: Install allure
            command: |
              brew install allure

        - run:
            name: Download app file
            command: |
              curl -L -o ./apps/WordPress.app.zip "https://drive.google.com/uc?export=download&id=18ODObtGuG3UYhgst-6h6ucn79_kYTxwD"

        - run:
            name: Check available simulators
            command: instruments -s devices

        - run: mkdir ./output

        # run tests!
        - run:
            name: run tests
            command: |
              platform=ios bundle exec rake wordpress:test

        - store_test_results:
            path: ./output

        - store_artifacts:
            path: wordpress-report
            destination: wordpress
workflows:
  version: 2
  build_and_test:
    jobs:
      - android
      - ios
