# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2
jobs:
  build:

      # Specify the Xcode version to use
      macos:
        xcode: "9.2"

      steps:
        - checkout

        # Download and cache dependencies
        - restore_cache:
            keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

        # Install CocoaPods
        - run:
            name: Install CocoaPods
            command: pod install

        # Build the app and run tests
        - run:
            name: Build and run tests
            command: fastlane scan
            environment:
              SCAN_DEVICE: iPhone 6
              SCAN_SCHEME: WebTests

        # run tests!
        - run:
            name: run tests
            command: |
              platform=android bundle exec rake wordpress:test

        - save_cache:
                  paths:
                    - ./vendor/bundle
                  key: v1-dependencies-{{ checksum "Gemfile.lock" }}

        # Collect XML test results data to show in the UI,
        # and save the same XML files under test-results folder
        # in the Artifacts tab
        - store_test_results:
            path: test_output/report.xml
        - store_artifacts:
            path: /tmp/test-results
            destination: scan-test-results
        - store_artifacts:
            path: ~/Library/Logs/scan
            destination: scan-logs