# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2
jobs:
  build:

      # Specify the Xcode version to use
      macos:
        xcode: "9.0"

      shell: /bin/bash --login -eo pipefail

      steps:
        - checkout

        - run:
            name: Set Ruby Version
            command:  echo "ruby-2.4.1" > ~/.ruby-version

        - run:
            name: install dependencies
            command: |
              bundle install --retry=3 --path vendor

        - run:
            name: install appium
            command: |
              npm install appium

        - run:
            name: Check available simulators
            command: instruments -s devices

        # run tests!
        - run:
            name: run tests
            command: |
              platform=ios bundle exec rake wordpress:test